:root {
    --font-color-1: #cf7e21;
    --font-color-2: #ffb766;
    --background-color-1: #c2edda;
    --background-color-2: #68d388;
    --header-footer-border-color: black;
    --main-divs-color-1: rgba(194, 237, 218, 0.7);
    --main-divs-color-2: rgba(104, 211, 136, 0.2);
    --main-divs-color-3: rgba(194, 237, 218, 0.95);
    --content-font: 'Roboto', sans-serif;
    --headers-font: 'Playfair Display', serif;
} 