@import './AppStyle.css';


body {
  background-image: url('./assets/background.jpg');
  background-repeat: repeat;
  background-position:center;
  background-attachment: fixed;
  background-size: auto;
  margin: 0;
}

body * {
  font-family: var(--content-font);
}